# fly.toml app configuration file generated for punish-leaderboard-bot-morning-cloud-5528 on 2025-12-14T21:59:29+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'punish-leaderboard-bot-morning-cloud-5528'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpus = 1
  memory_mb = 2048
